body{
font-family:Arial;
background:#eef2f7;
margin:0;
}

header{
background:#0066cc;
color:white;
padding:15px;
text-align:center;
}

nav{
background:#333;
padding:10px;
text-align:center;
}

nav a{
color:white;
text-decoration:none;
margin:15px;
}

nav a:hover{
color:yellow;
}

.card{
width:70%;
margin:20px auto;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

input,select,textarea{
width:100%;
padding:10px;
margin:8px 0;
}

button{
padding:10px 20px;
background:#0066cc;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:green;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
padding:10px;
text-align:center;
}

footer{
background:#0066cc;
color:white;
text-align:center;
padding:10px;
margin-top:20px;
}

@media(max-width:600px){
.card{
width:95%;
}
}